.form-wrapper {
    margin: 30px 30px 30px 0px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form>p {
    margin: 0;
}
.form-input {
    width: 200px;
}
.form-btn {
    width: 200px;
}
.alert {
    color: red;
}