.users-card {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 210px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.07);
    font-weight: 500;
    font-size: 16px;
    color: #3C3C3B;
}
.users-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 10px;
}
.users-card__content-text {
    margin: 0;
}
.mat-card-actions {
    margin-top: auto;
}
.users-card-btn {
    width: 80px;
    height: 30px;
    border-radius: 57px;
    border: 1px solid #F0BA4E;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: #3C3C3B;
    margin: 0 auto;
}